body {
  font-family: "Roboto", sans-serif;
  counter-reset: question-counter page-counter;
  color: #000000;
  padding-top: 78px;
}

h4, .highcharts-title tspan {
  min-height: 40px;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: bold;
  font-size: 14px;
}

/* NAVBAR */
.navbar-brand {
  position: relative;
  height: 77px;
  margin: 0;
  border-right: 1px solid #333;
}
.navbar-brand > img {
  height: 100%;
}

/* EXAM HEADER */
.navbar-title {
  display: block;
  margin: 12px 0 0 180px;
  width: calc(100% - 180px);
}
.navbar-title h1 {
  font-size: 20px;
  line-height: 1.1;
  margin: 0 auto;
  page-break-after: avoid;
  color: #DDDDDD;
}
.navbar-title h2 {
  font-size: 15px;
  color: #999999;
  line-height: 1.1;
  font-weight: lighter;
  margin: 8px 0 0;
}
.navbar-title h2 .label{
  background: #0B746E;
  color: rgba(255,255,255,.8);
  font-weight: normal;
  position: relative;
  top: -1px;
  margin-right: 5px;
}



/* SIDEBAR */
/* Hide for mobile, show later */
.sidebar {
  position: fixed;
  top: 78px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 0 20px 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #eeeeee;
  border-right: 1px solid #eee;
  width: 170px;
  }
}
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/* MAIN COLUMN */
.main {
  margin-left: 170px;
}
.main .item-container {
  padding: 20px 40px 40px;
  background: #f8f8f8;
}
.main .item-container .page-header{
  margin-top: 20px;
}
.main .item-analysis {
  padding: 40px;  
}


/* SECTION */
.has-table, .has-chart {
  text-align: center;
}

/* TABLES */
#linechart-table tr td:after {
  content: "%"
}
#linechart-table tr > td:first-child:after {
  content: " "
}


/* PLACEHOLDER */
.placeholder {
  margin-bottom: 20px;
  text-align: center;
}
.placeholder .fa {
  background: #DDDDDD;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  font-size: 3em;
  margin: 0 auto 10px;
  border-radius: 100px;
}
.placeholder h5 {
  margin-bottom: 0;
}
.placeholder h4 .fa {
  display: flex;
}
.placeholder p {
  color: #999999;
}
.groups {
  display: flex;
  align-items: center;
}
.groups .placeholder {
  margin-right: 20px;
}
.groups .placeholder:last-child {
  margin-right: 0;
}




/* CHART */
.has-chart {
  position: relative;
}
.has-chart h4 {
  display: none;
}
.chart-container {
  width: 100%;
  margin: 0 auto 30px;
  height: 350px;
}
.highcharts-credits {
  display: none;
}


/* ITEM */
/* item counter */
.item.dissertative {
  overflow: auto;
  height: auto;
}
.item.dissertative p {
  margin-bottom: 10px;
  line-height: 1.5;
}
.item .ennunciation > p:first-child:before {
  content: counter(question-counter) ') ';
  counter-increment: question-counter;
  font-weight: bold;
}
.item .ennunciation p {
  text-align: justify;
}
.item .ennunciation p.reference {
  text-align: right;
}
.item .ennunciation-container .ennunciation {
  float: left;
  width: 90%;
  margin-bottom: 10pt;
}
.ennunciation-container .reference {
  font-style: italic;
  color: #666;
  display: block;
  margin: 5px auto 20px;
  font-size: 11pt;
  text-align: right;
}
.item .ennunciation-container .qrcode {
  float: right;
  width: 10%;
  text-align: right;
}
.item .ennunciation-container .qrcode img{
  height: 45pt;
}
.item .ennunciation-img-container {
  display: block;
  width: 100%;
  text-align: center;
}
.item .ennunciation-img-container img{
  display: block;
  margin: 10px auto;
}
.item .alternatives-container {
  clear: both;
  padding: 0 0 0 0;
}
.item .alternatives {
  margin: 6px auto 0;
  list-style-type: none;
  padding: 0 0 0 25px; 
  counter-reset: alternative-counter;
  height: auto;
  overflow: auto;
}
.item .alternatives li {
  margin-bottom: 0;
  line-height: 25px;
  position: relative;
  color: #a94442;
}
.item .alternatives li:before {
  content: counter(alternative-counter, upper-latin);
  counter-increment: alternative-counter;
  font-size: 9pt;
  line-height: 9pt;
  position: absolute;
  top: 5px;
  left: -25px;
  width: 15px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item .alternatives li.right-answer {
  color: #3c763d
}
.item .alternatives li.latex {
  height: 50px;
  margin-bottom: 25px;
}
.item .alternatives li.latex-image img{
  height: 65px;
  margin-bottom: 10px;
}