body {
  font-family: "Roboto", sans-serif;
  counter-reset: question-counter page-counter;
  color: #000000;
  padding-top: 78px;
}


/* TIPOGRAFIA */
h4, .highcharts-title tspan {
  min-height: 40px;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: bold;
  font-size: 14px;
}

h4 + .intro {
  position: relative;
  top: -25px;
  color: #999999;
}



/* NAVBAR */
.navbar-fixed-top {
  box-shadow: 1px 0 2px rgba(0,0,0,.2);
  background: #FFFFFF;
}
.navbar-brand {
  position: relative;
  height: 77px;
  margin: 0;
  border-right: 1px solid #DDDDDD;
}
.navbar-brand > img {
  height: 100%;
}

/* EXAM HEADER */
.navbar-title {
  display: block;
  margin: 12px 0 0 185px;
  width: calc(100% - 185px);
}
.navbar-title h1 {
  font-size: 20px;
  line-height: 1.1;
  margin: 0 auto;
  page-break-after: avoid;
}
.navbar-title h2 {
  font-size: 15px;
  color: #999999;
  line-height: 1.1;
  font-weight: lighter;
  margin: 8px 0 0;
}
.navbar-title h2 .label{
  background: #0B746E;
  color: rgba(255,255,255,.8);
  font-weight: normal;
  position: relative;
  top: -1px;
  margin-right: 5px;
}



/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 78px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 0 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #222222;
  border-right: 1px solid #eee;
  width: 170px;
}
.sidebar .panel-group .panel {
  margin: -1px auto 0;
}

/* PANELS */
.panel-group .panel, .panel, .panel-heading {
  border-radius: 0;
}
.panel-inverse {
  border-color: #080808;
}
.panel-inverse > .panel-heading,
.sidebar .nav-link {
  background-color: #333;
  color: #9d9d9d;
}
.panel-inverse > .panel-heading .fa,
.sidebar .nav-link .fa {
  margin-right: 3px;
  width: 20px;
}
.sidebar .nav-link {
  display: block;
  padding: 10px 15px;
  font-size: 16px;
}
.panel-inverse .panel-body,
.panel-group .panel-heading + .panel-collapse > .panel-body {
  background-color: #444444;
  color: #999999;
  border-top-color: #080808;
}
.nav-sidebar {
  margin-right: -15px;
  margin-left: -15px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #999;
}
.nav-sidebar > li > a:hover {
  background: #222222;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus,
.nav-link.active {
  color: #fff;
  background-color: #12b2a9;
}

/* MAIN COLUMN */
.main {
  margin-left: 170px;
}
.main .item-container {
  padding: 20px 30px 40px;
  background: #f8f8f8;
}
.main .item-container .page-header{
  margin-top: 20px;
}
.main .item-container .page-header:only-child {
  margin-bottom: 0
}
.main .item-analysis {
  padding: 40px;  
}
.main .item-analysis .col-xs-8{
  text-align: center;
  color: #999999;
}
.main .item-analysis .col-xs-8 h4{
  color: #333
}


/* SECTION */
.has-table, .has-chart {
  text-align: center;
}

/* TABLES */
#linechart-table tr td:after {
  content: "%"
}
#linechart-table tr > td:first-child:after {
  content: " "
}


/* PLACEHOLDER */
.placeholder {
  margin-bottom: 20px;
  text-align: center;
}
.placeholder .fa {
  background: #DDDDDD;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  font-size: 3em;
  margin: 0 auto 10px;
  border-radius: 100px;
}
.placeholder h5 {
  margin-bottom: 0;
}
.placeholder h4 .fa {
  display: flex;
}
.placeholder p {
  color: #999999;
}
.groups {
  display: flex;
  align-items: center;
}
.groups .placeholder {
  margin-right: 20px;
}
.groups .placeholder:last-child {
  margin-right: 0;
}




/* CHART */
.has-chart {
  position: relative;
}
.has-chart h4 {
  display: none;
}
.chart-container {
  width: 100%;
  margin: 0 auto 30px;
  height: 350px;
}
.highcharts-credits {
  display: none;
}


/* ITEM */
/* item counter */
.item.dissertative {
  overflow: auto;
  height: auto;
}
.item.dissertative p {
  margin-bottom: 10px;
  line-height: 1.5;
}
.item .ennunciation > p:first-child:before {
  content: counter(question-counter) ') ';
  counter-increment: question-counter;
  font-weight: bold;
}
.item .ennunciation p {
  text-align: justify;
}
.item .ennunciation p.reference {
  text-align: right;
}
.item .ennunciation-container .ennunciation {
  float: left;
  width: 90%;
  margin-bottom: 10pt;
}
.ennunciation-container .reference {
  font-style: italic;
  color: #666;
  display: block;
  margin: 5px auto 20px;
  font-size: 11pt;
  text-align: right;
}
.item .ennunciation-container .qrcode {
  float: right;
  width: 10%;
  text-align: right;
}
.item .ennunciation-container .qrcode img{
  height: 45pt;
}
.item .ennunciation-img-container {
  display: block;
  width: 100%;
  text-align: center;
}
.item .ennunciation-img-container img{
  display: block;
  margin: 10px auto;
}
.item .alternatives-container {
  clear: both;
  padding: 0 0 0 0;
}
.item .alternatives {
  margin: 6px auto 0;
  list-style-type: none;
  padding: 0 0 0 25px; 
  counter-reset: alternative-counter;
  height: auto;
  overflow: auto;
}
.item .alternatives li {
  margin-bottom: 0;
  line-height: 25px;
  position: relative;
  color: #a94442;
}
.item .alternatives li:before {
  content: counter(alternative-counter, upper-latin);
  counter-increment: alternative-counter;
  font-size: 9pt;
  line-height: 9pt;
  position: absolute;
  top: 5px;
  left: -25px;
  width: 15px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item .alternatives li.right-answer {
  color: #3c763d
}
.item .alternatives li.latex {
  height: 50px;
  margin-bottom: 25px;
}
.item .alternatives li.latex-image img{
  height: 65px;
  margin-bottom: 10px;
}
.roman-numbers{
  list-style-type: upper-roman;
}
.roman-numbers li{
  text-align: justify;
}



/* COMPETENCIAS */
.competences-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.competence-group {
  background: #f8f8f8;
  padding: 20px;
  display: flex;
  text-align: center;
  position: relative;
  width: 300px;
  height: 300px;
  margin-bottom: 40px;
}
.competence-group .competence {
  background: #86DA54;
  display: inline-flex;
  border-radius: 60px;
  width: 120px;
  height: 120px;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center; 
  margin: 0 auto;
  color: #FFFFFF
}
.hability {
  background: #45BFF4;
  display: flex;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}
.competence-group .hability {
  position: absolute;
}
.competence-group .competence,
.competence-group .hability {
  transition: all .1s ease-in-out;
}
.competence-group .competence:hover,
.competence-group .hability:hover{
  text-decoration: none;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.competence-group .hability:first-of-type {
  top: 7%;
  left: 42%;  
}
.competence-group .hability:nth-of-type(2) {
  top: 21%;
  left: 70%;  
}
.competence-group .hability:nth-of-type(3) {
  top: 52%;
  left: 77%;  
}
.competence-group .hability:nth-of-type(4) {
  top: 76%;
  left: 57%;  
}
.competence-group .hability:nth-of-type(5) {
  top: 76%;
  left: 26%;
}
.competence-group .hability:nth-of-type(6) {
  top: 52%;
  left: 6%;
}
.competence-group .hability:nth-of-type(7) {
  top: 21%;
  left: 13%;
}
.competence.competence-one {background: #CDA0FA}
.competence.competence-two {background: #A57BD0}
.competence.competence-three {background: #7E56A5}
.competence.competence-four {background: #56317B}

.hability.hability-one {background: #01A6C6}
.hability.hability-two {background: #058BAA}
.hability.hability-three {background: #086E8B}
.hability.hability-four {background: #0A4D68}
.hability.hability-five {background: #CD4325}
.hability.hability-six {background: #E26428}
.hability.hability-seven {background: #F68129}
.hability.hability-eight {background: #F49D39}
.hability.hability-nine {background: #F1B747}
.hability.hability-ten {background: #F0D055}
.hability.hability-eleven {background: #B4C671}
.hability.hability-twelve {background: #79BB8E}
.hability.hability-thirteen {background: #3DB1AA}




/* POPOVER */
.popover {
  min-width: 300px 
}
.popover-title {
  font-weight: bold;
  padding: 20px 15px 15px
}
.popover.top > .arrow:after {
  bottom: 2px;
}




